.navi{
    display: flex;
    background-color: aqua;
    padding: 15px;
    list-style-type: none;
    justify-content: space-evenly;
}
.nn{
    text-decoration: none;
}
.grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top: 10px;
}
.mm{
    background-color: antiquewhite;
    padding: 10px;
}